/* === Global === */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* === Header === */
header {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover, .active {
    color: #ffcc00;
}

/* === Hero Section === */
.hero {
    background: url('https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?auto=format&fit=crop&w=1500&q=80') no-repeat center center/cover;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 120px 20px;
}

.hero-text {
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 30px;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    font-family: poppins, sans-serif;
    background-color: #ffcc00;
    color: #111;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #ffaa00;
}

/* === Features === */
.features {
    text-align: center;
    padding: 50px 20px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #111;
    color: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    background: #eeedea;
    color: #111;
}

/* === Content Pages === */
.content {
    text-align: center;
    background: white(255, 255, 255);
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.content ul {
    text-align: left;
    display: inline-block;
}

/* === Membership Plans === */
.plans {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.plan {
    background: #111;
    color: white;
    padding: 25px;
    width: 250px;
    border-radius: 35px;
}
.plan:hover{
    color: #a9a9a9;
}

.plan h3 {
    color: #ff9500;
}
.plan h3:hover{
    color: #fbde69;
}
.price {
    font-size: 18px;
    color: #ffcc00;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; 
}
/* === Footer === */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px 0;
}
header h1{
    color: yellow;
}